*{
	margin: 0px;
	padding: 0PX;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.common-top-div{
	margin-top: 50px;
}

.common-mr{
	margin-right: 12px !important;
}


.download-cv{
	margin-left: 10px;
}

.download-button{
	border: none !important;
}

.download-button:hover{
	background-color: #000 !important;
  color: #FFFFFF !important;
  border: none;
}

.download-cv:hover{
	
}

.main-section{
	margin: 0;
	padding: 0 !important;
}

.leftside{
	background-color: #cdcfd9;
	width: inherit;
	height: 100vh;
	position: fixed;
}

.media{
	margin: 5px;
	cursor: pointer;
}


.facebook-icon{
	color: #385898;
}
.facebook-icon:hover{
	color: #385898;
}

.instagram-icon{
	color: #e95950;
}

.instagram-icon:hover{
	color: #e95950;
}

.twitter-icon{
	color: #1DA1F2;
}

.twitter-icon:hover{
	color: #1DA1F2;
}

.linkedin-icon{
	color: #0072b1;
}
.linkedin-icon:hover{
	color: #0072b1;
}

.logo{
	margin: 5px;
}

.profile-list{
	text-align: center;
	padding: 0;
}

.profile-list-set{
	padding: 12px;
  list-style: none;
}

.profile-list-set .profile-list-item{
	padding: 10px;
	text-decoration: none;
 	color: #000;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 1s;
	
}

.profile-list-set .profile-list-item:hover{
	color: sienn;
	border-bottom: 1px solid red;
}

.profile-image{
	width: 56%;
	height: 22vh;
	border-radius: 50%;

}

.profile-image-section{
	margin: 10px;
  padding: 22px;
  text-align: center;
  padding-bottom: 0;

}

.profile-image-section-name{
	margin: 5px;
}

/*------- copyright Start------*/

.copyright{
   margin: 15px;
}

.copyright-para{
	text-align: center;
	font-size: 13px;
}

/*------- copyright End------*/

.rightside{
	
}
/*------- Header Section Start-------------*/

.header-section{
	background-image: url('../img/header-image.png');
	height: 100vh;
	background-size: cover;
}

.header-text{
	color: #FFFFFF;
	font-size: 55px;
}

.header-section-para-details{
	text-align: center;
}

.header-section-para{
	padding: 0 40vh;
}

.header-dark{
	background-color: rgba(0, 0, 0, 0.4);
	height: 100vh;
}

.header-section-para-text{
	color: #FFFFFF;
	line-height: 25px;
	font-size: 18px;
}

.button{
	text-align: center;
	margin-top: 20px;
}
.button button{
	color: white;
	background-color: dodgerblue;
	font-size: 15px;
	border-radius: 25px;
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	border-color: white;
}

.button button:hover{
	background-color: white;
	color: dodgerblue;
	border-color: dodgerblue;
}

/*------- Header Section End-------------*/



/*------About Section Start----*/

.about-section-main{
	margin-top: 10%;
	padding-left: 30px;
}

.about-text-one{
	font-size: 15px;
	line-height: 50px;
}
.about-text-two{
	font-size: 25px;
}

.about-section-para{
	font-size: 20px;
	margin-top: 15px;
}

/*------About Section End----*/



/*------Card Start----*/

.card{
	padding: 30px;
	display: flex;
	text-align: center;
	margin-top: 5%;
}

.card-width{
	width: 25%;
}

.icon{
	font-size: 40px !important;
	padding: 10px;
}

.icon-text{
	font-size: 20px;
}

.bulb-icon{
	color: red;
}

.desktop-icon{
	color: green;
}

.database-icon{
	color: blue;
}

.android-icon{
	color: orange;
}

.hire-me-button{
	background-color: transparent !important;
  color: #000 !important;
  border: 1px solid #000 !important;
}

.hire-me-button:hover{
	background-color: #000 !important;
  color: #FFFFFF !important;
  border: 1px solid #000 !important;
}

.hire-me-icon{
	margin-left: 10px;
}

.hireme-main{
	background-color: yellow;
	font-size: 40px;
	margin: 40px;
	padding: 40px;
	font-weight: bold;
}

.hireme-button{
	width: 12%;
	height: 70%;
	margin: 10px;
	cursor: pointer;
	background-color: yellow;
	font-size: 15px;
	letter-spacing: 1px;
}

/*------Card End----*/



/*-----Skills Section Start------*/

.skills-section{
	margin-top: 0;
	padding: 0px;
}

.skills-text-one{
	font-size: 15px;
	letter-spacing: 2px;
}

.skills-text-two{
	margin-top: 30px;
	font-size: 25px;
	letter-spacing: 2px;
}

.skills-section-para{
	padding: 0px;
	font-size: 20px;
}

.all-skills{
	padding: 0px 30px;
	display: flex;
	margin-bottom: 20px;
}

.myskills{
	padding: 30px;
}

.myskills-col{
	padding: 40px;
	padding-bottom: 0px;
	padding-top: 10px;
	padding-right: 0;
}

.my-skills{
	width: 50%;
	display: grid;
}

.skill-label{
	padding: 10px;
	text-transform: uppercase;
	width: 100%;
}

.skill{
  width: 400px;
  padding: 5px 15px;
  border-radius: 10px;
  background: #fff; 
  border: dotted 1px #000;
}

.level{
  float: right;
}
.html{
  background: linear-gradient(to right, #f60 0%,#fa0 90%,#fff 90%);
}
.css{
  background: linear-gradient(to right, #f60 0%,#fa0 80%,#fff 80%);
}

.js{
  background: linear-gradient(to right, #f60 0%,#fa0 70%,#fff 70%);
}
.bootstrap{
  background: linear-gradient(to right, #f60 0%,#fa0 75%,#fff 75%);
}

/*-----Skills Section End------*/


/*-----Education me Form---*/

.education-accordian{
	padding: 30px;
}

/*-----Education me Form---*/


/*---contact section Start*/

.contact-text-section{
	margin-top: 0px;
	padding: 0px;
}

.contact-text-one{
	font-size: 15px;
	letter-spacing: 2px;
}

.contact-text-two{
	margin-top: 30px;
	font-size: 25px;
	letter-spacing: 2px;
}

.contact-contain{
	display: flex;
	width: 100%;
}

.contact-left{
	margin: 0px 10px;
}

.text{
	padding:20px;
}

.contact-right{
	width: 60%;
}

.address-info{
	display: flex;
}

.address-link{
	display: flex;
	text-decoration: none;
}

.address-text h3{
	font-size: 15px;
	font-weight: 100;
	margin-left: 10px;
	color: #000;
	font-weight: 400;

}

.contact-icon{
	font-size: 25px !important;
	color: #000;
}

.contact-icon .contact-text{
	font-size: 15px;
	margin-left: 10px;
	color: #000;
}

.contact-me-main-container{
	margin-bottom: 50px;
}

/*--- contact section End--*/



/*-----Whatsapp Start---*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/*-----Whatsapp End---*/


/*-----Contact me Form---*/

.contact-me{
	padding: 10px;
}

.contact-me-input{
	border: none;
	border-bottom: 1px solid #000;
	padding: 5px;
	width: 100%;
}

.contact-me-input:focus{
	outline: none;
}

/*-----Contact me Form end---*/



/*---------------- Responsive -------------*/

@media screen and (max-width: 780px) {
   
   .left-side-main-section{
   	display: none;
   }

   .right-side-main-section{
   	width: 100% !important;
   }

   .header-section-para{
   	padding: 10px 30px;
   }

   .card-container{
   	margin-bottom: 40px;
   }

   .skill{
   	width: auto;
   }

   .hireme-para{
   	font-size: 5vmin;
   }

   	.navbar{
	   	  display: list-item !important;
	   }

	   .navbar-all-section{
	   	display: inherit !important;
	   	text-align: end !important;
	   }
   		
   		.nav-items-list{
   			text-align: center !important;
   		}

   		.navbar-main{
   			 background-color: #000;
   			 padding: 0 !important;
   		}
}



@media screen and (min-width: 780px) {
	   .navbar-section{
	   	display: none;
	   }


}